<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/pratikshit.bansal/Desktop/Automation/RestAssured_API_FW">
        <classes>
            <class name="CreateUserTest"/>
            <class name="GetUserTest"/>
        </classes>
    </test>
</suite>